<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Estudar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Professores Disponíveis </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../tabs/images/prof1.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Giovani Duarte</h2>
        <h3>História</h3>
        <p>
          “Pensar no passado, compreender o presente e idealizar o futuro.” -
          Heródoto Apaixonado por história desde a época de colégio e mais
          apaixonado ainda em fazer as pessoas se apaixonarem por história, pois
          como digo, História não é difícil, você não aprendeu a gostar dela./p>
        </p></ion-label
      >
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../tabs/images/prof2.png" />
      </ion-avatar>
      <ion-label>
        <h2>Vinicius Pires</h2>
        <h3>Matemática</h3>
        <p>
          Amante de números desde que me conheço com gente, ou seja, desde
          sempre. Se você acha que quando se juntam números com letras fica tudo
          complicado, pode me chamar que serei o X da questão.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
